In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
from sklearn.feature_extraction.text import TfidfVectorizer
import re
warnings.filterwarnings("ignore")
data_ratings = pd.read_csv("/Users/hajiaga/Downloads/ratings_small.csv")
keywords = pd.read_csv("/Users/hajiaga/Downloads/keywords.csv")
metadata = pd.read_csv("/Users/hajiaga/Downloads/movies_metadata.csv")
metadata["title"] = metadata["original_title"] + " " + metadata["release_date"].str[:4]
metadata = metadata[["id","title","genres"]]

data_ratings.drop(["timestamp"], inplace=True, axis=1)

In [3]:
def evaluate(df, id, rate):
    bestfilms = pd.DataFrame({
        'movie_id': np.unique(df["movieId"]),
        'count': [0] * len(np.unique(df["movieId"]))})
    dfr = np.unique(df.loc[(df["movieId"] == id) & (df["rating"] === rate)]["userId"])
    values = df.loc[(df["userId"].isin(dfr)) & (df["rating"] >= 4)]["movieId"].value_counts()

    for movie_id, count in values.items():
        bestfilms.loc[bestfilms["movie_id"] == movie_id, "count"] += count
    bestfilms.set_index(["movie_id"])
    return bestfilms

result = evaluate(data_ratings, id=31, rate=2.5)
list(result.sort_values("count" , ascending=False)[:15]["movie_id"])

[912,
 4226,
 1219,
 2918,
 260,
 805,
 318,
 1291,
 1259,
 110,
 1617,
 8622,
 1302,
 903,
 904]

In [4]:
evaluate(data_ratings,id=31,rate=2.5)

      movie_id  count
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
...        ...    ...
9061    161944      0
9062    162376      0
9063    162542      0
9064    162672      0
9065    163949      0

[9066 rows x 2 columns]